<div class="container-fluid">
  <br>
  <div class="row mb-5 ">
    <h3 class="fw-bolder">Appointments</h3>
  </div>
  <br>
  <div class="row">
    <!-- <h4>Filter By:</h4> -->
    
    <form class="border border-4">
    <div class="row mb-3" id="inputs">
      
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder fw-bolder">BookingID:</label>
          <input type="text" class="form-control"  placeholder="BookingID">
         </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">Phone Number:</label>
          <input type="text" class="form-control"  placeholder="PhoneNumber">
         </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">Full Name:</label>
          <input type="text" class="form-control"  placeholder="Name">
         </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">Appoinment Date:</label>
          <input type="date" class="form-control"  placeholder="Date">
         </div>
      </div>
    </div>
    <div class="row mb-3" id="inputs">
      
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">Day:</label>
          <input type="text" class="form-control"  placeholder="Day">
         </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">Time:</label>
          <input type="time" class="form-control"  placeholder="Time">
         </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">TT_Tag:</label>
          <input type="date" class="form-control"  placeholder="TT_Tag">
         </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleName1" class="form-label fw-bolder">Fin:</label>
          <input type="text" class="form-control"  placeholder="Fin">
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9"></div>
  <div class="col-3">
    <button type="button" class="btn btn-success col-8 mb-5">Filter</button>

  </div>
    </div>
  </form>
  </div>
</div>