.container-fluid{
/* background-color: rgb(122, 207, 207); */
background-color: whitesmoke;
}
thead{
    background-color: black;
    color: azure;
    word-wrap: break-word;
    flex-wrap: wrap;
}
tbody{
    background-color: white;
    word-wrap: break-word;
    flex-wrap: wrap;
  
}
form{
    padding-top: 2vh;
background-color: rgb(122, 207, 207);

}
/* .pagination{
    background-color: blue;

} */